@font-face {
  font-family: "Aerokids";
  src: url("Aerokids.otf") format("embedded-opentype");
}

.navbar-brand {
  font-family: "Aerokids";
  font-size: 4.5rem;
  font-weight: 400;
  color: #e83e8c;
  text-shadow: -1px 1px 2px #e83e8c,
				  1px 1px 2px #e83e8c,
				  1px -1px 0 #e83e8c,
				  -1px -1px 0 #e83e8c;
}

body {
  color: #e83e8c;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

#refreshTab1,
#downloadTab1 {
  margin: 10px 5px 10px 5px;
}

.material-switch {
  font-weight: bold;
}

.material-switch>label,
.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover {
  background-color: #e83e8c;
}

.material-switch>label:before {
  background-color: #777;
}

input[type=text] {
  color: #e83e8c;
}

#challengesOutTitle {
  text-align: center;
}
