/*Load font*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');

/*Style app name*/
.navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-size: 4.5rem;
  font-weight: 400;
  color: #e83e8c;
  text-shadow: -1px 1px 2px #e83e8c,
				  1px 1px 2px #e83e8c,
				  1px -1px 0 #e83e8c,
				  -1px -1px 0 #e83e8c;
}

/*Change text colour to pink*/
body {
  color: #e83e8c;
}

/*Make space for stylised app name*/
.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
    font-size: 2rem;
  }
}

/*Space out refresh and download buttons*/
#refreshTab1,
#downloadTab1,
#refreshTab2,
#downloadTab2,
#refreshTab3,
#downloadTab3 {
  margin: 10px 5px 10px 5px;
}

/*Make material switch label bold*/
.material-switch {
  font-weight: bold;
}

/*Make background of (table) additional page tab buttons pink*/
.material-switch>label,
.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover {
  background-color: #e83e8c;
}

/*Make material switch more visible when set to FALSE*/
.material-switch>label:before {
  background-color: #777;
}

/*Colour table filter box text pink (when user starts typing)*/
input[type=text] {
  color: #e83e8c;
}

/*Centre barchart and table titles*/
#challengesOutTitle,
#lipsyncsOutTitle {
  text-align: center;
}
